@use "colors";

.bubbles {
  display: flex;
  justify-content: center;
  align-items: center;

  .bubble, &_bubble-main {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &_bubble-main {
    background-color: colors.$main;
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 10;
    img{
      width: 50%;
    }
  }

  .lines {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .line {
      height: 2px;
      position: absolute;
      display: flex;
      align-items: center;
      right: 50%;
      transform: rotate(33deg);
      justify-content: flex-start;
      transform-origin: right center;
      border: colors.$offblack dashed 1px;

      .dot {
        width: 10px;
        height: 10px;
        background-color: colors.$offblack;
        position: relative;
        border-radius: 50%;
      }
      .bubble {
        position: relative;
        z-index: 1;
        width: 120px;
        height: 120px;
        left: -30px;
        transition: all .25s ease-in;
        img {
          width: 90%;
        }
        &:hover {
          cursor: pointer;
          scale: 1.1;
        }
      }
    }
  }
}
