@use 'bubles';
@use 'colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$main-bg;
  header {
    width: 100%;
    margin: 2em 0;
  }
}
